---
const PROJECTS = [
    {
        title: 'Dashboard IoT Home',
        description: 'Home automation control center with local server accessible from mobile and low-cost electronic devices',
        link: "https://echohome.pages.dev/",
        github: "https://github.com/appjava",
        cover: "projects/idomo.webp",
        tags: ["Termux", "Python", "Flask", "HTML5", "ESP8266"]
    },
    {
        title: 'Solar Personal App',
        description: 'Web application for energy sizing of domestic photovoltaic systems',
        link: "https://solarpersonal.web.app",
        github: "https://github.com/appjava",
        cover: "projects/SolarApp.webp",
        tags: ["HTML", "CSS", "JS"]
    },
    {
        title: 'Simple 3D Viewer',
        description: '3D model viewer in mtl and obj format',
        link: "https://simple3d.pages.dev",
        github: "https://github.com/appjava",
        cover: "projects/simple3D.webp",
        tags: ["HTML5", "ASTRO", "Tailwind"]
    },
    {
        title: 'meTV Player',
        description: 'MP4 player and M3U8 playlists from the browser',
        link: "https://metv.vercel.app",
        github: "https://github.com/appjava",
        cover: "projects/meTV.webp",
        tags: ["HTML", "CSS", "JS", "Electron"]
    },
    {
        title: 'EchoHome Project',
        description: 'Project on sustainable development and ecologically comfortable lifestyle',
        link: "https://echohome.pages.dev/",
        github: "https://github.com/appjava",
        cover: "projects/EchoHomeSpace.webp",
        tags: ["HTML5", "Python", "Micropython", "Arduino", "EspHome", "C++", "HomeAssistant", 
            "Blender", "OpenScad"]
    },
    {
        title: '3D Modeling',
        description: '3D design and modeling projects',
        link: "https://appjava.github.io/echoprojects3d/",
        github: "https://github.com/appjava",
        cover: "projects/echoprojects3D.webp",
        tags: ["HTML5", "SweetHome", "Blender", "OpenScad"]
    }
    
]
---

{
    PROJECTS.map(({ title, description, cover, link, tags}) => (
        <article class="mt-12">
            <h3 class="md:text-2xl text-2md font-semibold text-yellow-200 mb-2">
                {title}
            </h3>
            <p class="md:text-xl text-md mb-4 text-pretty">
                {description}
            </p>
            
            <a href={link} target="_blank">
            <img 
                class="rounded-[12px] shadow-2xl shadow-white/15 w-full"
                src={cover} 
                alt='Project Screenshot {cover}' />
            </a>
            <ul class="flex flex-wrap gap-x-3 gap-y-1 text-xs md:text-xl justify-center text-yellow-600 mt-3">
                {tags.map(tag =>(
                    <li>{tag}</li>
                ))}
            </ul>
        </article>
    ))
}

