---
const PROJECTS = [
    {
        title: 'Solar Personal App',
        description: 'Aplicación web para dimensionamiento energético de un sistema fotovoltáico doméstico.  ',
        link: "https://solarpersonal.web.app",
        github: "https://github.com/appjava",
        image: "projects/SolarApp.webp",
        tags: ["Solar", "App", "Energy"]
    },
    {
        title: 'EchoHome',
        description: 'Blog personal sobre estilo de vida ecológico y domótico de bajo costo',
        link: "https://echoprojects3d.web.app/",
        github: "https://github.com/appjava",
        image: "projects/EchoHomeSpace.webp",
        tags: ["Domotic", "Ecology", "Sustainable"]
    },
]
---

{
    PROJECTS.map(({ title, description, tags, image, link}) => (
        <article class="mt-12">
            <h3 class="md:text-2xl text-2md font-semibold text-yellow-200 mb-2">
                {title}
            </h3>
            <p class="md:text-xl text-md mb-4 text-pretty">
                {description}
            </p>
            <ul>
                <!--{tags.map(tag =>(
                    <li>{tag}</li>
                ))}-->
            </ul>
            <a href={link} target="_blank">
            <img 
                class="rounded-[12px] shadow-2xl shadow-white/15 w-full"
                src={image} 
                alt='Project Screenshot {image}' />
            </a>
        </article>
    ))
}

