---
const PROJECTS = [
    {
        title: 'Solar Personal App',
        description: 'Aplicación web para dimensionamiento energético de sistemas fotovoltáicos domésticos.  ',
        link: "https://solarpersonal.web.app",
        github: "https://github.com/appjava",
        cover: "projects/SolarApp.webp",
        tags: ["Solar", "App", "Energy"]
    },
    {
        title: 'EchoHome',
        description: 'Blog personal sobre un estilo de vida ecológicamente confortable',
        link: "https://echoprojects3d.web.app/",
        github: "https://github.com/appjava",
        cover: "projects/EchoHomeSpace.webp",
        tags: ["Domotic", "Ecology", "Sustainable"]
    },
    {
        title: 'meTV',
        description: 'Reproductor mp4 y listas m3u8 desde el navegador',
        link: "https://metv.pages.dev",
        github: "https://github.com/appjava",
        cover: "projects/meTV.webp",
        tags: ["Iptv", "Player", "mp4", "m3u8"]
    },
    {
        title: 'Simple 3D Viewer',
        description: 'Visor de modelos 3D en formato mtl y obj',
        link: "https://simple3d.pages.dev",
        github: "https://github.com/appjava",
        cover: "projects/simple3D.webp",
        tags: ["3D", "Model", "mtl", "obj", "Viewer"]
    }
    
]
---

{
    PROJECTS.map(({ title, description, cover, link}) => (
        <article class="mt-12">
            <h3 class="md:text-2xl text-2md font-semibold text-yellow-200 mb-2">
                {title}
            </h3>
            <p class="md:text-xl text-md mb-4 text-pretty">
                {description}
            </p>
            <ul>
                <!--{tags.map(tag =>(
                    <li>{tag}</li>
                ))}-->
            </ul>
            <a href={link} target="_blank">
            <img 
                class="rounded-[12px] shadow-2xl shadow-white/15 w-full"
                src={cover} 
                alt='Project Screenshot {cover}' />
            </a>
        </article>
    ))
}

